:root {
  --hue: 0deg;
  --a: 0deg;
  --alpha0: 0;
  --alpha1: 0;
  --alpha2: 0;
  --alpha3: 0;
  --alpha4: 0;
  --alpha5: 0;
  --alpha6: 0;
  --alpha7: 0;
  --alpha8: 0;
  --alpha9: 0;
  --alpha10: 0;
  --alpha11: 0;
}

.load {
  position: relative;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  clip-path: circle(calc(50% - 1px));
  /* fix for non-high dpi browsers */
  mask: var(--mask);
}
.load::before, .load::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  mask: var(--mask);
}

#load-7 {
  background: HSL(var(--hue, 0deg), 85%, 65%);
  --mask:
  	conic-Gradient(from var(--a, 0deg), RGBA(0, 0, 0, 0) 30deg, RGBA(0, 0, 0, 0.0909090909) 0deg 60deg, RGBA(0, 0, 0, 0.1818181818) 0deg 90deg, RGBA(0, 0, 0, 0.2727272727) 0deg 120deg, RGBA(0, 0, 0, 0.3636363636) 0deg 150deg, RGBA(0, 0, 0, 0.4545454545) 0deg 180deg, RGBA(0, 0, 0, 0.5454545455) 0deg 210deg, RGBA(0, 0, 0, 0.6363636364) 0deg 240deg, RGBA(0, 0, 0, 0.7272727273) 0deg 270deg, RGBA(0, 0, 0, 0.8181818182) 0deg 300deg, RGBA(0, 0, 0, 0.9090909091) 0deg 330deg, RGBA(0, 0, 0, 1) 0deg),
  	linear-Gradient(red, red),
  	radial-Gradient(red 1.25em, transparent 0),
  	linear-Gradient(0deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(30deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(60deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(90deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(120deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(150deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(180deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(210deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(240deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(270deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(300deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(330deg, transparent calc(50% - 1px - 1px), red calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px));
  mask-composite: intersect, exclude, add, add, add, add, add, add, add, add, add, add, add, add, add;
  animation: hue 12s linear infinite, a 1s steps(12) infinite;
}

@keyframes hue {
  to {
    --hue: 360deg;
  }
}
@keyframes a {
  to {
    --a: 360deg;
  }
}
@keyframes alpha0 {
  50% {
    --alpha0: 1;
  }
}
@keyframes alpha1 {
  50% {
    --alpha1: 1;
  }
}
@keyframes alpha2 {
  50% {
    --alpha2: 1;
  }
}
@keyframes alpha3 {
  50% {
    --alpha3: 1;
  }
}
@keyframes alpha4 {
  50% {
    --alpha4: 1;
  }
}
@keyframes alpha5 {
  50% {
    --alpha5: 1;
  }
}
@keyframes alpha6 {
  50% {
    --alpha6: 1;
  }
}
@keyframes alpha7 {
  50% {
    --alpha7: 1;
  }
}
@keyframes alpha8 {
  50% {
    --alpha8: 1;
  }
}
@keyframes alpha9 {
  50% {
    --alpha9: 1;
  }
}
@keyframes alpha10 {
  50% {
    --alpha10: 1;
  }
}
@keyframes alpha11 {
  50% {
    --alpha11: 1;
  }
}

/*# sourceMappingURL=compilePreloader.css.map */
