.load {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  clip-path: circle(calc(50% - 1px));
  /* fix for non-high dpi browsers */
  mask: var(--mask);
  -webkit-mask-image: var(--mask);
}
.load::before, .load::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  mask: var(--mask);
}

#load-7 {
  background: HSL(0deg, 0%, 50%);
  --mask:
  	conic-Gradient(from var(--a, 0deg), RGBA(0, 0, 0, 0) 45deg, RGBA(0, 0, 0, 0.1428571429) 0deg 90deg, RGBA(0, 0, 0, 0.2857142857) 0deg 135deg, RGBA(0, 0, 0, 0.4285714286) 0deg 180deg, RGBA(0, 0, 0, 0.5714285714) 0deg 225deg, RGBA(0, 0, 0, 0.7142857143) 0deg 270deg, RGBA(0, 0, 0, 0.8571428571) 0deg 315deg, RGBA(0, 0, 0, 1) 0deg),
  	linear-Gradient(grey, grey),
  	radial-Gradient(grey 0.5em, transparent 0),
  	linear-Gradient(0deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(45deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(90deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(135deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(180deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(225deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(270deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px)), linear-Gradient(315deg, transparent calc(50% - 1px - 1px), grey calc(50% - 1px) calc(50% + 1px), transparent calc(50% - 1px - 1px));
  mask-composite: intersect, exclude, add, add, add, add, add, add, add, add, add;
  -webkit-mask-composite: source-in, source-out, source-over, source-over, source-over, source-over, source-over, source-over, source-over, source-over, source-over;
  animation: hue 8s linear infinite, a 1s steps(8) infinite;
}

@keyframes hue {
  to {
    --hue: 360deg;
  }
}
@keyframes a {
  to {
    --a: 360deg;
  }
}
@keyframes alpha0 {
  50% {
    --alpha0: 1;
  }
}
@keyframes alpha1 {
  50% {
    --alpha1: 1;
  }
}
@keyframes alpha2 {
  50% {
    --alpha2: 1;
  }
}
@keyframes alpha3 {
  50% {
    --alpha3: 1;
  }
}
@keyframes alpha4 {
  50% {
    --alpha4: 1;
  }
}
@keyframes alpha5 {
  50% {
    --alpha5: 1;
  }
}
@keyframes alpha6 {
  50% {
    --alpha6: 1;
  }
}
@keyframes alpha7 {
  50% {
    --alpha7: 1;
  }
}

.preload-ctnr{
    position: absolute;
    display: block;
    height: 17vh;
    width: 97vw;
    left: 3vw;
    margin: 30vh 0 0 0;

}

.preload-item{
    display: inline-block;
    position: relative;
    left: 3%;
    width: 18.8%;
    height: 100%;
    border-radius: 4px;
    top:0;
    background: linear-gradient(to right, #1e1e1e 8%, #1c1c1c 18%, #1e1e1e 33%);
    background-size: 200% 100%;
    animation: scan 2s infinite cubic-bezier(.16,.01,1,.97);
    
}


@keyframes scan{
    from{
        background-position: 100% 0;
    }
    to{
        background-position: -100% 0;
    }
}

/*# sourceMappingURL=compiledPreloader.css.map */
